@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Inter, system-ui;
        border: 0 solid #e5e7eb;
    
    
}


nav{
    height: 80px;
    display: flex;
}
ul{
    display: flex;
    padding: 24px 5px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-weight: bold;
    font-size: 46px;
}

p{
    line-height: 1.5rem;
}

.purple{
    color:#6415ff;
}

.nav__container{
    width: 100%;
    max-width: 1700px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    width: 160px;
}
.logo__container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 36px;
    margin-left: -50px;
}
.logo__text{
    font-size: 24px;
    font-weight: 600;
    color: #243e63;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    
}

.logo{
margin: 0 12px;
width: 40px;

}
.nav__container{


    margin: 24px 24px;


}
.nav__links{
    width: 100%;
    margin-left: 50px;
    padding-left: 3rem;
    justify-content: flex-end;
    align-items: flex-end;
   
}
.nav__link{
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: 600;
    padding: 24px;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary{
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    color: rgba(247,250,252,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    border-bottom-width: 0px;
}



.logo__container{
    display: flex;
    padding-top: 2rem;
    text-align: left;
    
}

/* MAIN SECTION  */


.main__section__wrapper{
    margin-top: 100px;
    display: flex;
    max-height: 100%;
    height: 600px;
    align-items: flex-start;
    
    
    
}

.main{
   /* position: relative; */
  
   max-width: 32rem;
    flex-direction: column;
    margin-top: 15px;
    
}
.main__img{
    width: 100%;
}
.main__header{
    font-size: 3rem;
    margin-bottom: 25px;
    justify-content: flex-start;
}
.input__field{
    margin: 20px;
    border-radius: 30px;
    border-width: 4px;
    height: 4rem;
    border-color: #e5e7eb;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 80%;
}
.btn{
    margin-left: 50px;
    position: relative;
    align-items: flex-end;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    color: rgba(247,250,252,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    border-bottom-width: 0px;
    font-weight: bold;
}
.btn:hover,
.nav__link--primary:hover{
    background-color:#3d3eff;
    
}
.main__para{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-size:18px;
    
}

.input__container{
    max-width: 100%;
   text-align: center;
}

.features__container{
    padding: 80px 0;
}



.features__heading--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;

}
.features__para{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    line-height: 1.5rem;
}

.services{
    display: flex;
    flex-wrap: wrap;
}
.service{
    display: flex;
    width: calc(100%/3);
}

.service__description{
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    margin-bottom: 4rem;
    width: 250px;
    line-height: 2rem;
}
.service__para{
    padding-top: 20px;
}

.img__border{
    margin: 20px;
    border-radius: 45px;
    border-width: 1px;
    text-align: center;
   height: 60px;
   width: 60px;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

    border-color: #e5e7eb;
    
}


.quality__steps--container{
    display: flex;
    
}
.quality__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding-right: 4rem;
    
}


.quality__img{
    width: 100%;
    border-width: 1px;
    border: 1px solid #e5e7eb;
    
    
}
.btn__size{
    width: 25%;
    margin-left: 0rem;
}

/* STEPS */

.steps__wrapper{
    padding-top: 80px;
    display: flex;
    max-width: 100%;
}

.steps__img--wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__img{
  
   width: 500px;
   height:300px;
}

.step__number{
    font-size: 32px;
    color: #e5e7eb;
}
.step{
    display: flex;
    padding: 5px 10px;
    margin-top: 32px;
}

.step__words{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}


.values__container{
    display: flex;
    max-width: 100%;
    margin-top: 100px;
    display: flex;
    max-height: 100%;
    height: 600px;
    align-items: flex-start;
   
}

.values{
    
    width: 100%;
    margin-right: 24px;
    padding: 24px;
}

.values__img{
    width: 100%;
}

.affordable__professionalism--wrapper{
    display: flex;
    padding-top: 24px;
    line-height: 1.5rem;
}

.values h2{
    padding-bottom: 24px;
}
.values p{
    padding-top: 24px;
}
.values button{
  margin-left: -8px;
  margin-top: 24px;
}
.bag__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    
}
.bag__wrapper h2{
    margin-left: -32px;
}


.pricing--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans{
    height: 600px;
    width: 100%;
    padding-top: 24px;
    margin-right: 25px;
    display: flex;
    justify-content: space-around;

    align-items: center;
    flex-direction: wrap;
}


.plan{
    height: 100%;
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-width: 1px;
    margin:24px 24px;
    padding: 10px 24px;
    
}

.action__btn--container{
    
   margin-top: 10px;
    height: calc(100%/3);
    width:380px;
    border-top: 2px solid #e5e7eb;
}

.plan__personal{
 border-top: 10px solid  rgb(129, 230, 217);


    border-left: 2px solid #e5e7eb;
    border-right: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
    width: 100%;
    max-width: 24rem;
    margin-top: 4rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
  


}

.buy__now--btn{
    margin-top: 50px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
   
    border-radius: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
    font-size: 0.875rem;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
   
    font-weight: 700;
    border-radius: 4rem;
 
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    transition-duration: 300ms;


}
.buy__now--btn:hover{
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    transition-duration: 300ms;
}
.plans__header{
    border-bottom: 2px solid #e5e7eb;
    width: 100%;
    height: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

.plan__individual{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.plan__individual h3{
    padding:24px ;
}
.plan__individual p{
    padding: 6px;
}
.plan__business{
    border-left: 2px solid #e5e7eb;
    border-right: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
    width: 100%;
    max-width: 24rem;
    margin-top: 4rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;

}

